.btn {
    background-color: #8A6ED7
    ;
    border-radius: 1px;
    border: none;
    box-shadow: 0px 0px 2px 2px #432C83;
    padding: 3px;
    margin: 5px;
}

.btn:hover {
  background-color: #432C83;
  transition: 0.1s;
}