.cardDefault {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 1px 0 #C4C6D7;
    border-radius: 10px;
    background-color: white;
    height: 10em;
    width: 15em;
    color: black;
}